header{
    height:2rem;
    display:flex;
    align-items: center;
    a{
        margin-left:2%;
    }
    h1{
        margin-left:1.5%;
        margin-right:auto;
        padding-bottom:0.25%;
    }
}