header{
    height:2rem;
    display:flex;
    align-items: center;
    form{
        width:100%;
        input{
            &:nth-child(1){
                width:80%;
                border:none;
                padding:2%;
                margin-left:2%;
            }
            &:nth-child(2){
                font-weight:700;
                color:#5C5C5C;
                cursor:pointer;
                background-color:#fff;
                border:none;
                margin-left:2%;
            }
        }
    }
}

.nav{
    width:100%;
    height:3rem;
    border-bottom: 1px solid #ddd;
    nav{
        width:100%;
        height:100%;
        ul{
            width:100%;
            height:100%;
            display:flex;
            justify-content: space-evenly;
            align-items: center;
            li{
                font-weight:700;
                color:#5C5C5C;
                text-align:center;
                cursor:pointer;
            }
        }
    }
}

.main{
    width:100%;
    h3{
        font-size:1.25rem;
        font-weight:700;
        color:#262B38;
        margin-top:1rem;
        margin-bottom:1.5rem;
        margin-left:2rem;
    }
    .main_content{
        width:90%;
        margin:0 auto;
        ul{
            width:100%;
            div{
                width:100%;
                height:6rem;
                background-color:rosybrown;
                margin-top:1rem;
                &:nth-child(1){
                    background-image:url("https://i.pinimg.com/564x/79/79/81/79798159762b4b9144e1daa0fe9d98ba.jpg");
                    background-size: 100%;
                    background-position: center;
                }
                &:nth-child(2){
                    background-image:url("http://seouldatepop.appspot.com/static/img/datepop_web_main/go_home_banner.png");
                    background-size: 100%;
                    background-position: center;
                }
                &:nth-child(3){
                    background-image:url("https://i.pinimg.com/originals/2f/09/d7/2f09d7fe2f55d2008ab7cbd1ffe8f89f.png");
                    background-size: 100%;
                    background-position: center;
                }
            }
        }
    }
}